<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Fishsite</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}main.css" >
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>    
    <script type="text/javascript" src="{{ MEDIA_URL }}main.js">
    </script>

    {% block head %}
    {% endblock head %}
</head>
<body>
    <header id="site_head">
        <nav class="navigation">
        <a href="/">home</a>
        </nav>
        <div id="current_user"></div>
    </header>

    <div id="main_cont">
    <section class="info_area">
        <span id="error"><h2>{{ error }}</h2></span>
        <span id="info"><h2>{{ info }}</h2></span>
    </section>
      {% block content %}
      {% endblock content %}
    </div>
</body>
</html>
